In [9]:
dataset1='./Book2.csv'  

import pandas as pd
data_df = pd.read_csv('Book2.csv')

data_df

     x    y
0    2   10
1    3   15
2    4   20
3    5   25
4    8   40
5    9   45
6   11   55
7   12   60
8   15   75
9   16   80
10  17   85
11  23  115

In [8]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       12 non-null     int64
 1   y(5x)   12 non-null     int64
dtypes: int64(2)
memory usage: 324.0 bytes

In [9]:
data_df.describe()

               x       y(5x)
count  12.000000   12.000000
mean   10.416667   52.083333
std     6.473138   32.365690
min     2.000000   10.000000
25%     4.750000   23.750000
50%    10.000000   50.000000
75%    15.250000   76.250000
max    23.000000  115.000000

In [16]:
def estimatevalue(x, w, b):
    return w * x + b
w=5
b=1
estimatevalue(4, w, b)

21

In [20]:
w=5
b=2
estimatevalue(5, w, b)

27

In [1]:
import matplotlib
import matplotlib.pyplot as plt